{% extends 'base.html' %}

{% block content %}

<div style="text-align: center; display: flex; justify-content: center; margin: 35px;">  
    <!-- form copied from UserCreationForm html edited-   -->
      <form style="width: max-content; padding: 30px; background-color: blanchedalmond;" method="post" action="{% url 'login' %}">
          <!-- input -->
          {% csrf_token %}
          <div class="form-outline mb-4">
              <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus=""
                  required="" id="id_username" class="form-control" />
      
              <label class="form-label" for="id_username">Username</label>
              {{login_form.username.help_text}}
          </div>
      
          <!-- Password input -->
          <div class="form-outline mb-4">
              <input type="password" name="password" autocomplete="new-password" required="" class="form-control" />
              <label class="form-label for=" id_password">Password:</label>
              {{login.password.help_text}}
             
          </div>
      
              
          
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block">Sign in</button>
          
          {% if messages %}
              
              {% for message in messages %}
                  <span style="color: red;">{{message}}</span>
              {% endfor %}
                  
          {% endif %}
              
        
  
      </form>
  </div>
  </div>
{% endblock content %}
    