<div class="button-group ">
    <button type="button" class="btn btn-primary btn-rounded" id="recent">recent posts</button>
    <button type="button" class="btn btn-secondary btn-rounded" id="popular">popular posts</button>

   
</div>

<div class="grid" style="position: relative;">
    {% for post in recent_posts %}
    <div class="portfolio-item recent">
        <img src="{{post.photo.url}}" alt="">
        <div class="portfolio-text">
            <h5><a href="{% url 'post' post.slug %}" style="font-size: x-large;">{{post.title}}</a></h5>
            <p>By bbo Liat <span>|</span>{{post.created_at}}</p>
        </div>
    </div>
    {% endfor %}

    {% for post in popular_posts %}
    <div class="portfolio-item popular" style="display: none;">
        <img src="{{post.photo.url}}" alt="">
        <div class="portfolio-text">
            <h5><a href="{% url 'post' post.slug %}" style="font-size: x-large;">{{post.title}}</a></h5>
            <p>By Kabbo Liate <span>|</span>{{post.views}} views</p>
        </div>
    </div>
    {% endfor %}
</div>